.dateSelectorContainer {
    width: 250px;
    border-radius: 20px;
    background-color: #e3e3e3;
    margin: auto 20px;
    margin-bottom: 177px;
}
form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	height: 184px;
}